spring:
  application:
    name: demo

  jpa:
    database: POSTGRESQL
    show-sql: false
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:postgresql://localhost:5432/springbootdb
    username: postgres
    password: 586829
    driverClassName: org.postgresql.Driver

server:
  port: 8090

